<div class="h-screen flex flex-col">
  <form>
    <mat-form-field class="w-full">
      <input
        matInput
        placeholder="Enter a book title"
        [value]="$search.searchText"
        (input)="onSearchInputChange($event)"
      />
      <button mat-icon-button matSuffix (click)="$search.submit()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>
<!-- 只在有搜尋結果時顯示列表 -->
@if (searchResults$ | async; as results) {
  <mat-list role="list" class="flex-grow min-h-0 overflow-y-auto">
    @for (result of results.docs; track result.title) {
      <mat-list-item role="listitem">
        <img
          matListItemAvatar
          [src]="
            'https://covers.openlibrary.org/b/olid/' +
            result.cover_edition_key +
            '-M.jpg'
          "
        />
        <div matListItemTitle>{{ result.title }}</div>
        <div matListItemLine>{{ result.author_name?.join(", ") }}</div>
      </mat-list-item>
    }
  </mat-list>

  <!-- 分頁控制 -->
  @if (results.num_found) {
    <mat-paginator
      class="border-0 border-t border-black border-solid"
      [length]="results.num_found"
      [pageIndex]="$search.page - 1"
      [pageSize]="$search.pageSize"
      [pageSizeOptions]="[5, 10, 25, 50]"
      (page)="onPageChange($event)"
      aria-label="Select page"
    />
  }
}
</div>
